*{
  font-family: helvetica, sans-serif;
}
body, html{
  margin:0;
  padding:0;
  margin-top: 10px;
}
body{
  display: flex;
  flex-direction: column;
  margin:auto;
  width: 30em;
  box-sizing: border-box;
  border: 4px solid #777;
}

#tools, #settings, #content, #adder, #edit{
  flex: 1 100%;
  box-sizing: border-box;
  padding:4px;

  border-radius: 5px;
}

#tools{
  height:2em;
  order:1;
}
#adder, #settings, #edit{
  border: 5px solid #DDD;
  margin: 5px;
  display: none;
  order:2;
}
.addin, .editin{
  width: 80%;
  margin: 0;
}
.addin label, .editin label {
    float: left;
    clear: left;
    width: 100px;
}

.addin input, .editin input {
    display: block;
    margin: 3px;
}
#adder span, #edit span{
  float:right;
  padding-right: 15px;
  border:2px solid #DDD;
  padding:2px;
  border-radius: 2px;
}
#content{
  border: 5px solid #DDD;
  margin: 5px;
  order: 3;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
}
#content article{
  box-sizing: border-box;
  margin-bottom: 3px;
  margin-top:3px;
  padding: 5px;
  border: 2px solid #777;
  border-left: 5px solid #777;
  border-radius: 3px;
  background-color: #EEE;
  flex:1;
  order:1;
  width: 100%;
}
#content article .info{
  width: 80%;
  float: left;
}
#content article .edit{
  width: 1em;
  float: right;
  margin:auto;
}
#content article .edit span{

}
h2, h3, h5{
  margin-top: 1px;
  margin-bottom: 1px;
}
#SortSearch{
  width:60%;
  float:left;
}
#SortSearch * {
  margin-top: 0.2em
}
#AddDel{
  float:right;
  width:auto;
}
#AddDel .fa{
  border:2px solid #DDD;
  padding:5px;
  border-radius: 2px;
}
.editEntry, .delEntry, #AddDel *, #sortIcon, .fa{
  cursor: pointer;
  cursor: hand;
}
